/* =============================================================================
   Global Color Values
   ========================================================================== */

// Zen Greens
$zen-green: #38cb7d;

// Zen Blues
$zen-blue-light: #cce4ec;
$zen-blue: #00b1ea;
$zen-blue-medium: #005875;
$zen-blue-dark: #003b4f;

// Zen Blacks
$zen-black: #001e27;

// Neutrals
$dark-gray: #444444;
$medium-gray: #888888;
$light-gray: #ebebeb;
$white: #ffffff;

